[submodule "qemu"]
	path = qemu
	url = https://github.com/ATS-INTC/qemu.git
	branch = moic
[submodule "moic_driver"]
	path = moic_driver
	url = https://github.com/ATS-INTC/moic_driver.git
[submodule "AsyncStarry"]
	path = AsyncStarry
	url = https://github.com/AsyncModules/AsyncStarry.git
	branch = async
[submodule "async-os"]
	path = async-os
	url = https://github.com/AsyncModules/async-os.git
