[submodule "qemu"]
	path = qemu
	url = https://github.com/ATS-INTC/qemu.git
	branch = moic
[submodule "moic_driver"]
	path = moic_driver
	url = https://github.com/ATS-INTC/moic_driver.git
[submodule "moicos"]
	path = moicos
	url = https://github.com/ATS-INTC/moicos.git
[submodule "Starry"]
	path = Starry
	url = https://github.com/ATS-INTC/Starry.git
[submodule "unified-task"]
	path = unified-task
	url = https://github.com/ATS-INTC/unified-task.git
